<!DOCTYPE html>
<html>
<head>
	<title>WELCOME TO MY HOME PAGE</title>


</head>
<body>


<h1 style="text-align:center">WELCOME TO MY HOME
<%= link_to '(click to switch)', about_path %>
   PAGE

<img  src="http://bit.ly/1SYBUQr" height="100px">
  </h1>

<hr style="height:30px; color:black">

<div class="col-xs-3"></div>
<div class="col-xs-3">
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
</div>

<div class="col-xs-3">
<p>Ut vel hendrerit ligula. Pellentesque non malesuada nunc. Donec bibendum dolor quis porttitor dapibus. Nulla dictum nulla lectus, at condimentum diam dignissim vitae. Proin pellentesque aliquet neque, eu blandit magna. Nulla facilisi. In facilisis, augue nec eleifend vulputate, enim tortor auctor magna, ut faucibus ante sem id velit. Sed molestie tempus dolor, lobortis feugiat augue vestibulum non. Donec rutrum non est ac viverra.</p>
</div>
<div class="col-xs-3"></div>
</body>
</html>